.ml-form-embedContainer {
  box-sizing: border-box;
  display: table;
  margin: 0 auto;
  position: static;
  width: 100% !important;
}

.ml-form-embedContainer button,
.ml-form-embedContainer h4,
.ml-form-embedContainer p,
.ml-form-embedContainer span {
  text-transform: none !important;
  letter-spacing: normal !important;
}

.ml-form-embedContainer .ml-form-embedWrapper {
  background-color: #f6f6f6;
  border-width: 0;
  border-color: transparent;
  border-radius: 4px;
  border-style: solid;
  box-sizing: border-box;
  display: inline-block !important;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.ml-form-embedContainer .ml-form-embedWrapper.embedDefault,
.ml-form-embedContainer .ml-form-embedWrapper.embedPopup {
  width: 400px;
}

.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
  max-width: 400px;
  width: 100%;
}

.ml-form-embedContainer .ml-form-align-center {
  text-align: center;
}

.ml-form-embedContainer .ml-form-embedBody {
  padding: 20px 20px 0 20px;
}

.ml-form-embedContainer .ml-form-embedContent {
  text-align: left;
  margin: 0 0 20px 0;
}

.ml-form-embedContainer .ml-form-embedSubmit {
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}

.ml-form-formContent {
  margin: 0 0 20px 0;
  width: 100%;
}

.ml-form-fieldRow {
  margin: 0 0 10px 0;
  width: 100%;
}

.ml-form-fieldRow.ml-last-item {
  margin: 0;
}

.ml-field-group {
  margin-bottom: 0;
}

.ml-form-fieldRow input,
.ml-form-fieldRow textarea {
  background-color: #fff !important;
  color: #333 !important;
  border-color: #ccc;
  border-radius: 4px !important;
  border-style: solid !important;
  border-width: 1px !important;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px !important;
  line-height: 21px !important;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 10px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  max-width: 100% !important;
}

.ml-error input,
.ml-error select,
.ml-error textarea {
  border-color: red !important;
}

.ml-error .label-description,
.ml-error .label-description p,
.ml-error label:first-child {
  color: red !important;
}

@media only screen and (max-width: 400px) {
  .ml-form-embedWrapper.embedDefault,
  .ml-form-embedWrapper.embedPopup {
    width: 100% !important;
  }
}